#grid {
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: 1;
}

#grid-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1) 1px, black 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, black 1px);
  background-size: 20px 20px;
  clip-path: circle(0em at center);
  mix-blend-mode: multiply;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s ease
}

.circle-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-size: 20px 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 50px rgba(0, 255, 255, 0.5);
  pointer-events: none;
  mix-blend-mode: exclusion;
  opacity: 0;
  transition: opacity 1s ease, width 1s ease, height 1s ease;
}

@media only screen and (max-width: 650px) {
  .circle-cursor {
    display: none;
  }
  #grid {
    display: none;
  }
  #grid-2 {
    display: none;
  }
}
